@import "tailwindcss";

:root {
  /* Warna Spesifik LinkedIn */
  --background: #f3f2ef; 
  --foreground: #1d2226;
  --color-blue: #0a66c2;
  --color-card: #ffffff;
  --font-montserrat: "Montserrat", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-blue: var(--color-blue);
  --font-sans: var(--font-montserrat);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}